@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Global styles */

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  color: #555;
}

h2 {
  margin: 10px 0;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: left;
}

h3 {
  text-transform: uppercase;
}

p {
  text-decoration: none;
  color: inherit;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

.no-margin {
  margin: 1;
}

/* Cars */

.cars {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.pad {
  padding-left: 10px;
  padding-right: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.2s;
}

.card p {
  margin: 10px 0;
  font-size: 1.2em;
  color: grey;
  align-self: flex-end;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.5;
}

.inside {
  list-style-position: inside;
  padding-left: 0;
  width: 50%;
  margin: 0;
  padding: 0;
}

.specification-container {
  display: flex;
  flex-wrap: wrap;
}

.pagination {
  text-align: center;
}

.page-button {
  padding: 8px 12px;
  border-radius: 4px;
}

.page-button:hover {
  background-color: #ddd;
}

/* Footer */

.footer {
  bottom: 0;
  background-color: #eee;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ccc;
}

/* Homepage */

.homepage {
  border-bottom: 1px solid #ccc;
}

.homepage__content {
  padding: 0 150px;
}

.homepage__header {
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.header-right {
  opacity: 1;
  transition: opacity 0.2s;
}

.header-right:hover {
  opacity: 0.5;
}

.header-left {
  opacity: 1;
  transition: opacity 0.2s;
}

.header-left:hover {
  opacity: 0.5;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-grid img {
  width: calc(20% - 5px);
  height: calc(25% - 10px);
  margin-bottom: 5px;
  transform: scale(0.6);
  opacity: 1;
  transition: opacity 0.2s;
}

.image-grid img:hover {
  opacity: 0.5;
}

/* Car Details */

.car__details {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.cardetails__content {
  padding: 0 150px;
}

.cardetails__header {
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.center-image {
  align-items: center;
  justify-content: center;
  width: 40%;
}

.more-image-grid img {
  width: 24%;
  margin-right: 10px;
  display: inline-block;
}

.more-image-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-image-grid img:first-child {
  margin-right: 10px;
}

.more-image-grid img:last-child {
  margin-right: 10px;
}

.container {
  display: flex;
}

.image-viewer-container {
  text-align: center;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: center;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.nav-unordered-list {
  list-style: none;
  display: flex;
}

.nav-list {
  margin: 0 20px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.2s;
}

.nav-list:hover {
  opacity: 0.5;
}

/* Contact */

.contact {
  padding: 0 150px;
}

.contact-form {
  max-width: 300px;
  padding: 20px;
  border-radius: 4px;
}

.form-header {
  margin: 0 0 20px 0;
  font-size: 32px;
}

.form-description {
  font-size: 16px;
}

form label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

form textarea {
  height: 150px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: rgb(169, 169, 169);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: rgb(169, 169, 169);
}

/* Mobile styling */

@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .header-right {
    padding-bottom: 15px;
  }
  .header {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .homepage__content {
    padding: 0;
  }
  .cardetails__content {
    padding: 0;
  }
  .footer {
    position: relative;
    bottom: 0;
  }
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .cars {
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
  .contact-form label {
    width: 100%;
  }
  .contact-form input {
    width: 100%;
  }

  .car-image-container {
    flex-wrap: wrap;
  }
  .car-image-container img {
    width: 100%;
  }
  .cardetails__content {
    width: 100%;
  }
  .specification-container {
    grid-template-columns: 1fr;
  }
  .more-image-grid img {
    width: 100%;
    margin-right: 0;
  }
  .container {
    flex-direction: column;
  }
  .container img {
    width: 100%;
  }
  .specification-container {
    display: block;
  }
  .inside {
    width: 100%;
  }
}

/* Location styling */

.location-info {
  float: left;
  width: 50%;
}

.contact-info {
  float: right;
  width: 50%;
}

.location-text {
  list-style-type: none;
  padding: 0;
}

.location-text li {
  margin-bottom: 10px;
}

.location-text h3 {
  margin-bottom: 5px;
}

.location-text p {
  margin: 0;
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

.image-container img.active {
  opacity: 1;
}
.cars-for-sale-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-family: Lato, sans-serif;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cars-for-sale-button:hover {
  background-color: rgba(255, 255, 255, 0.556);
}
