@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Global styles */

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  color: #555;
}

h2 {
  margin: 10px 0;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: left;
}

h3 {
  text-transform: uppercase;
}

p {
  text-decoration: none;
  color: inherit;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

/* Cars */

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card p {
  margin: 10px 0;
  font-size: 1.2em;
  color: grey;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.inside {
  list-style-position: inside;
  padding-left: 0;
}

/* Footer */

.footer {
  bottom: 0;
  background-color: #eee;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ccc;
}

/* Homepage */

.homepage {
  border-bottom: 1px solid #ccc;
}

.homepage__content {
  padding: 0 150px;
}

.homepage__header {
  text-align: left;
}
.header-right {
  opacity: 1;
  transition: opacity 0.2s;
}

.header-right:hover {
  opacity: 0.5;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-grid img {
  width: calc(20% - 5px); /* Reduce the width of the images */
  height: calc(25% - 10px); /* Set the height to be 25% as well */
  margin-bottom: 5px;
  transform: scale(0.6);
  opacity: 1; /* Set the initial opacity to 1 (fully opaque) */
  transition: opacity 0.2s; /* Add a transition for the opacity property */
}

.image-grid img:hover {
  opacity: 0.5; /* Set the hover opacity to 0.5 (semi-transparent) */
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: center;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.nav-unordered-list {
  list-style: none;
  display: flex;
}

.nav-list {
  margin: 0 20px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.2s;
}

.nav-list:hover {
  opacity: 0.5;
}

/* Mobile styling */

@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .header-right {
    padding-bottom: 15px;
  }
  .header {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .homepage__content {
    padding: 0;
  }
  .footer {
    position: relative;
    bottom: 0;
  }
  .homepage {
    height: auto;
    background-size: 500px auto;
    background-repeat: no-repeat;
  }
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
